#
# for Linux
#
/*.dep
/*.o
/oglcv
/a.out
/core
#
# for Mac
#
/build/
/DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
.DS_Store
#
# for Windows
#
.vs/
.vscode/
/x64/
/[Dd]ebug/
/[Rr]elease/
/ipch/
/packages/
*.com
*.exe
*.ncb
*.suo
*.sdf
*.opensdf
*.opendb
*.userosscache
*.sln.docstates
*.opendb
*.db
*.aps
*.msi
#
# anothre stuff
#
*~
*.bak
*.tmp
*.swp
result.jpg
imgui.ini
